<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartorder1"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cart"></activity>
        <activity
            android:name=".fooditem"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".billList"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".orderList"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".addtype"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".managetaxes"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".managefood"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AdminManage"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".adminpage"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".adminlogin"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Add_details"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".cartlist"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".categorylist"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize"
            android:label="Category"
            android:parentActivityName=".Add_details"
            android:screenOrientation="landscape" />
    </application>

</manifest>